{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

  body {
    background-image: url(static/home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
</style>
<div style="position:absolute; top: 100px; left: 40%; font-family: 'Comic Neue', cursive;">
  <a style="font-size: 50px;">Start to plan a trip</a>
</div>
{% endblock %}